[Unit]
Description=Check for a new Mira edge image

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=mira-update.service

[Install]
WantedBy=timers.target
